[% USE HTML %]
[% INCLUDE 'book_header.tt' %]
<h1>Online Books Tracker - [% HTML.escape(book.title) %]</h1>

<h2>Book Information</h2>

[% INCLUDE 'book_display.tt' %]

<ol>
<li><a href="./?mode=edit">Edit</a></li>
<li><a href="../list/">Back to List</a></li>
<li><a href="./disable/">Disable</a></li>
</ol>

</body>
</html>
