[% INCLUDE "header.tt" %]
[% USE HTML %]
<h2>Resource Lists' Admin</h2>

<ul>
[% FOREACH f = select_fields %]
<li><a href="resource-list/[% HTML.escape(f.sql) %]/">[% HTML.escape(f.pres) %]</a></li>
[% END %]
</ul>

<h2>Disable/Re-enable Records in the Main Table</h2>

<ul>
<li><a href="main-table/set-status/?mode=disable">Disable Records</a></li>
<li><a href="main-table/set-status/?mode=reenable">Re-enable Records</a></li>
</ul>

[% INCLUDE "footer.tt" %]
