[% USE HTML %][% INCLUDE "header.tt" %]
[% wrapper_start %]
[% FOREACH group = jobs_by_group
%]<h2>[% HTML.escape(group.name) %]</h2>

[% group.records.join('') 
%][% END %]
[% wrapper_end %]
[% INCLUDE "footer.tt" %]
